body {
    background-image: src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEVBeXulKi2Lm0%2FPp%2F%2BiMA9ns%2F2JLQKJ6wuMactH1c4wxai0Oaj03IrXVKg189eN17uoOiDivaV%2BU9i0rzjLJ7Y5E55yYHU3llo5Et5hkkVt%2Fei2ShaoOiVJlQ4NXHY2ts6Yep%2FNmA5RPCan3y1qJ2%2BaMti01C8OLyNMQLiVBP8Zu87DVzNQdKLKZUe2KtjAAPE6gEQ0NOrcIJNcilf56orb6HrbwOFpioW%2Bs9oiP%2FksxgyjGivM4JGpLjZ9hiaJTwCzlP7Hc%2F1627Xrv7tFr1YSpAr4IKEn5FxuF4AwboslvVckmKbmc7HWZ0z1SB%2BM1zpDYk0mCBtGLtRRFTAGIdC6TKcGN6C9lCXQoLVJkHRXDgyBledRoICFTrMlufy1Cwervze5vNPaZ75t%2BQcw1pPbA%2B1EfRnVR0lwG%2FcmCh2R%2B0be4MOXP%2FztVKHkQNYFFTNVC4CHa45iNha2c2piVyOzTFw3WawxWamr0KzWnzXVXv9p4g4%2FNgTdPxGImjui7St3vQBjuzDcu8B%2BBi0pdFFeVTizkJICHfJl98FQHqKBCGhRNfIU7t6OTOaWoZpYna%2B0tg%3D%3D&allow_caching=true&sz=w1600-h773";
    
}

.titulos h3 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

.titulos h2 {
    font-weight: normal;
}

.th2{
    text-align: center;
    padding-top: 30px;
    margin: 0;
    padding-right:85px;
    font-family: 'Libertinus Math', arial;
    font-size: 50px;
}


.gal{
    padding-top: 30px;
    padding-left:100px;
    padding-right: 100px;
}

.padrao {
    margin-top: 100px;
}

table,
th {
    border-spacing: 0;
}

table {
    margin: 0 auto 25px;
    table-layout: fixed;
    width: 100%;
}

/* td{border: 1px solid #000;} */


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 350px;
    text-align: center;
    font-family: 'Libertinus Math', arial;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: 'Libertinus Math', arial;
}

.alterar,
.excluir {
    margin-left: 60px;
    font-size: 18px;
    padding: 5px 30px;
    border-radius: 10px;
    border: none;
    color: #fff;
}

.alterar {
    background-color: #0b0;
}

.alterar:hover {
    background-color: #0b0;
}

.excluir {
    background-color: #900;
}

.excluir:hover {
    background-color: #900;
}

.as:link, a:visited {
  background-color: #11340e;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.as:hover, a:active {
  background-color: green;
}

.tas{
    margin-top: 30px;
    float: left;
}
